<ul class="list-group">
  <div *ngFor="let item of posts; let i = index" class="w-50 mx-auto my-2">
    <div *ngIf="item.active">
      <div
        class="card"
        [ngClass]="{
          'bg-warning': item.type === 'news',
          'bg-dark text-white': item.type === 'politic',
          'bg-info': item.type === 'education'
        }"
      >
        <div class="card-header text-start">
          <span appHighlightText="red">Post</span> con ID #{{ item.id }} di tipo
          {{ item.type }}
        </div>
        <div class="card-body">
          <h5 class="card-title fw-bold text-start">
            {{ item.title | uppercase }}
          </h5>
          <p class="card-text text-start">{{ item.body }}</p>
          <div class="d-flex justify-content-evenly">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onInactivePost(item.id, i)"
            >
              Disattiva
            </button>
            <a class="btn btn-primary" [routerLink]="['/details/', item.id]">
              Dettagli
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>
